.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fw-bold {
    font-weight: 700 !important;
}
.text-center {
    text-align: center !important;
}


.justify-content-evenly {
  justify-content: space-evenly !important;
}

.d-flex {
    display: flex !important;
  }

  .text-center {
    text-align: center !important;
  }

  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;

    }

    .p-5 {
        padding: 3rem !important;
      }

      .my-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
      }
      

      .justify-content-evenly {
        justify-content: space-evenly !important;
        }

        .d-flex {
            display: flex !important;
          }

          .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));
          }

          .justify-content-evenly {
            justify-content: space-evenly !important;
          }

          .d-flex {
            display: flex !important;
          }

          .row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: calc(-.5 * var(--bs-gutter-x));
            margin-left: calc(-.5 * var(--bs-gutter-x));
          }
    

          .card-img, .card-img-top {
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
          }

          .card-img, .card-img-bottom, .card-img-top {
            width: 100%;
          }

      

         
          

       